# Compiled object files / Build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
mihosh*
deploy.*


# Test output
*.test

# Go workspace
go.work
go.work.sum

# Dependencies
vendor/

# OS specific files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*~

# Configuration and local files
*.prof
.gocache/
.gomodcache/
docs/*
.spec-workflow/
